/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
