.site-title {
  font-size: 14pt;
  font-family: 'Titillium Web';
  font-weight: 500;
  color: black;
  width: 80%;
}

.nav-gradient {
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #5f8fad 0%, #f0f4f3 74%);
}

.nav {
  height: 70px;
}

#page-container {
  padding-top: 70px;
  height: 100vh;
}

#logo {
  margin-top: -3px;
  margin-right: 10px;
}

.logged-in-user {
  margin-right: 10px;
  color: white;
}

.nav-link {
  color: rgb(21, 53, 60) !important;
}
