<!-- Top Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-light fixed-top nav nav-gradient">
  <div class="mr-auto order-0 w-100">
    <a class="navbar-brand site-title">
      <img id="logo" width="33" src="assets/images/bpo-logo.png" />
      Bark Park Online
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
        <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <div class="logged-in-user" *ngIf="!appService.loggedIn">
          <img id="logo" width="33" src="assets/images/default-profile-pic.png" />
          Guest
        </div>
        <div class="logged-in-user" *ngIf="appService.loggedIn">
          <img id="logo" width="33" [src]="appService.profile.profilePhotoUrl" />
          {{ appService.profile.fullName }}
        </div>
      </li>
    </ul>
  </div>
</nav>

<!-- Page Content -->
<div id="page-container" class="container-fluid m-0">
  <div class="row h-100" *ngIf="!appService.loggedIn">
    <div id="login-page" class="col-12">
      <app-login></app-login>
    </div>
  </div>
</div>
